py4web
# git+https://github.com/macneiln/pydal.git # Can be removed after sqllite web2py_filesystem is merged (wrong placeholder value).
psycopg2-binary # Needed for postgresql db.
hashids # Needed for simplified upload storage in database.
brotli # For file compression.